@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@font-face {
  font-family: 'AlphaCentauri';
  src: url('../assets/fonts/AlphaCentauri.ttf') format('ttf'),
    url('../assets/fonts/AlphaCentauri.woff2') format('woff2'),
    url('../assets/fonts/AlphaCentauri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background: #000;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: transparent;
}

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  list-style: none;
}

.logo a {
  color: #fff;
  font-weight: 600;
  font-size: 2em;
  transition: all 0.2s ease;
}

.logo a:hover {
  color: bisque;
}

.logo a span {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 0 2em;
  list-style: none;
}

nav .nav-links ul li a {
  color: white;
}

nav .nav-links ul li a svg {
  transform: scale(1.6);
  transition: all 0.2s ease;
}

nav .nav-links ul li a svg:hover {
  color: bisque;
}

.screen {
  height: 100vh;
  overflow: hidden;
}

.bg img {
  width: auto;
  height: 110vh;
  filter: brightness(0.6);
  z-index: -10;
}

.rock {
  position: absolute !important;
  left: 10vw !important;
  top: 20vh !important;
}

.rock img {
  width: 40%;
  filter: brightness(0.5);
}

.text {
  display: flex !important;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.textual {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textual h1 {
  font-family: 'AlphaCentauri', sans-serif !important;
  font-size: 5vw;
  color: #fff;
  letter-spacing: 0.4em;
}

.textual h4 {
  font-family: 'AlphaCentauri', sans-serif !important;
  margin-top: 2em;
  font-size: 2vw;
  color: #fff;
  letter-spacing: 0.4em;
  z-index: 100;
  cursor: pointer;
}

.textual span {
  color: #000;
  text-decoration: underline;
}

.earth {
  display: flex !important;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.earth img {
  width: 40em;
  height: 40em;
  left: 34vw;
  top: 25vh;
  z-index: 1;
  filter: brightness(0.7);
  animation: revolution infinite 30s linear;
}

@keyframes revolution {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mid {
  left: -15em !important;
  bottom: -10em !important;
  top: unset !important;
}

.mid img {
  width: 100%;
  z-index: 2;
  left: -2em;
  top: 20vh !important;
  filter: brightness(0.8);
}

.fore {
  right: -5em !important;
  bottom: -20em !important;
  top: 0 !important;
  left: unset !important;
}

.fore img {
  width: 40em;
  height: 110vh;
  z-index: 3;
  filter: brightness(0.5);
}

.linker {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}

.linker a {
  font-family: 'AlphaCentauri', sans-serif !important;
  color: white;
  font-size: 2.2em;
  transition: all 0.2s ease;
}

.linker a:hover {
  transform: scale(1.01);
  color: wheat;
  text-decoration: underline;
  filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.08))
    drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.08))
    drop-shadow(4px 4px 8px rgba(255, 255, 255, 0.08));
}

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
}

#cursor-shape {
  width: 15px;
  height: 15px;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 880px) {
  .fore {
    display: none !important;
  }

  .textual h1 {
    font-size: 5em;
  }

  .textual h4 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 440px) {
  nav .nav-links ul li:nth-child(3) {
    padding-right: 0;
  }
}

@media (any-pointer: coarse) {
  #cursor,
  #cursor-shape {
    display: none;
  }
}
